<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static' , filename = 'bootstrap.min.css') }}">
    <title>All Users</title>
</head>
<body>
  <div class="content">
    <table class="table table-bordered table-striped" border="1">
        <thead>
            <tr>
                <th>Sl no.</th>
                <th>Username.</th>
                <th>Email Address</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{user[0]}}</td>
                <td>{{user[1]}}</td>
                <td>{{user[3]}}</td>
                <td>
                    <a class="btn btn-primary" href="/details?id={{ user[0] }}">Edit</a>
                    <a class="btn btn-danger" href="/">Delete</a>
                </td>
            </tr>
            {% endfor %}
    </table>
  </div>
  <footer>
    <p>&copy;All Rights Reserved . powered by Python Flask- {{year}}</p>
  </footer>
</body>
</html>