body{
    background-color: bisque;
    color: brown;
     display: flex;
     flex-direction: column;
}
div{
    padding: 3px;
    margin: 5px;
    border: 2 px solid blue;
    border-radius: 10px;
}
.menu{
    color: bisque;
    background-color: brown;
    padding : 15px;
    margin: 5px;
}
a{
    color : blue;
    padding : 5px;
    margin : 5px;
    background-color : gold
}

.content {
  flex: 1 0 auto;
}
footer{
    text-align : center;
    font-style : italic;
    font-size :0.8em;
    flex-shrink: 0;
}